@font-face {
    font-family: "Verdana";
    src: url('./font/Verdana.ttf');
}
*
{
margin:0 auto;
text-align:center;
font-family:"Verdana", Arial, sans-serif;
}

/* Opacité */
img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
img:hover {
	opacity: .5;

}


a:hover,a:focus{

-moz-border-radius: 40px;
-webkit-border-radius: 40px;
border-radius: 40px; 
     box-shadow:0 1px 0 rgba(255,255,255,.4);
     text-decoration:none;
}
a span{
position:absolute;  
color:#FFF;
-moz-border-radius: 40px;
-webkit-border-radius: 40px;
border-radius: 40px; 
background-color:blue;
border:blue solid 3px;
padding:10px;
box-shadow:0 0 2px rgba(0,0,0,.5)
margin-top:23px;
margin-left:-35px;
transform:scale(0) rotate(-12deg);       
transition:all .25s;
opacity:0;
text-decoration:none;
}

a:hover span, a:focus span{
transform:scale(1) rotate(0);  
opacity:1;    
text-decoration:none;  
}





a.ex2:hover, a.ex2:active {
font-size: 70%;
background-color:#FFF;
text-decoration:none;
}






@font-face {
    font-family: "Neuropol";
    src: url('./font/space_age.ttf');
}


table
{
margin:0 auto;

}



h2
{
	font-size:1.1em;
	font-weight: normal;
}



@font-face {
    font-family: "Decibel";
    src: url('./font/Decibel_2.ttf');
}
@font-face {
    font-family: "Neuropol";
    src: url('./font/NEUROPOL.ttf');
}
@font-face {
    font-family: "SpaceAge";
    src: url('./font/space_age.ttf');
}
@font-face {
    font-family: "Superdie";
    src: url('./font/Superdie.otf');
}
@font-face {
    font-family: "UnitedPlanet";
    src: url('./font/unitedplanets.ttf');
}
@font-face {
    font-family: "UnitedPlanet3d";
    src: url('./font/unitedplanets3d.ttf');
}


input,textarea
{
border:2px solid blue;
text-align:left;
}

img.telecharger
{
width:190px;
height:290px;
border:3px solid #000;
}
 

.tout {
    background-color: #ffffff;
margin:0 auto;
    padding: 10px;
    border: 4px solid darkblue;
 width:70%;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    behavior: url(border-radius.htc);
 
    background-image: -moz-linear-gradient(top, #ffffff, #f4f4f4);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f4f4f4));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#f4f4f4);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#f4f4f4)";
}

legend {
margin:0 auto;
color: darkblue;
font-size:1.5em;
border-radius: 15px;
background-color:#FFF;
border:4px solid blue;
padding:10px;
font-family: "Neuropol";
}



h1
{
	font-size:2em;
text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
font-family:SpaceAge,Arial,Sans-Serif;
	text-align:center;	
	color:#FFF;
}


a
{
	font-size: 1em;
	color:blue;
	text-decoration:none;

}
a:hover {
    color: red;
} 







#display
{
width:310px;
display:inline-block;
text-align:left;
padding-right:-40px;
border-left:solid 1px #dedede;
border-right:solid 1px #dedede;
border-bottom:solid 1px #dedede;
background-color:#FFF;
}
.display_box
{
border-top:solid 1px #dedede;
font-size:15px;
height:20px;
font-family:Verdana,Arial,Sans-Serif;
text-align:left;
}

.display_box:hover
{
background:#77A9E2;
color:#FFFFFF;

}
#shade
{
background-color:#000;
}





input,textarea
{
border:2px solid blue;
text-align:left;
}

.telecharger
{
width:150px;
height:240px;
border:3px solid #000;
}
 




#searchbox
{
width:250px;
border:solid 2px orange;
padding:5px;
margin:0 auto;

}

.input {
font-size: 12px;
color: blue;
text-align:left;
border: solid 2px #000;
}


.submit 
{
font-size: 30px;
font-family:verdana,arial;
clear: both;
background-color: #FFF;
border: none;
color: red;
cursor: pointer;
font-weight: normal;
text-transform: uppercase;
overflow: visible;
}



















